* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}


button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background: linear-gradient(to right, #000000, #281c1188, #ffffff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header .logo {
  width: 120px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar img {
  width: 25px;
}

/* Home page */

#hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: left 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(
      to right,
      #000000,
      rgba(0, 0, 0, 0.435),
      rgba(255, 255, 255, 0)
    ),
    url(../img/banner/bannerHome/reading-2605540.jpg);

  /* text-shadow: 0 0 0 0 #ffffff; */
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h4,
#hero h2,
#hero h1 {
  background: linear-gradient(to right, #52b788, #3a86ff);
  -webkit-background-clip: text;
  color: transparent;
}

#hero button {
  background-image: url(../img/logo/iconbutton/button.png);
  background-color: transparent;
  color: #0eada3;
  border: 0;
  padding: 14px 80px 16px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* feature */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.048);
    border: 1px solid #bfa57e;
    border-radius: 15px 0;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(182, 128, 52, 0.348);
}

#feature .fe-box img{
    width: 100px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #ebf5fc;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #e8f7e0;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #ededcf;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #ffebcd;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #eed7ff;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fdd7d7;
}


/* Product */

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #ccedcc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(197, 102, 0, 0.332);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 h2,
#product1 p{
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  -webkit-background-clip: text;
  color: transparent;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    background-color: #f4d7fe;
    font-weight: 500;
    padding: 5px;
    bottom: 20px;
    right: 10px;
    position: absolute;
    border: 1px solid #e28aff;
}

.pro-container .pro img{
    width: 100%;
    border-radius: 20px;
}

.pro-container .star img{
    width: 15px;
}

/* banner */

#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../img/banner/bannerSale/bgBanner.jpg);
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-position: center;
}

#banner h4{
  color: #fff;
  font-size: 20px;
}

#banner h2{
  color: #fff;
  font-size: 40px;
  padding: 10px 0;
}

#banner h2 span{
  color: #ef3636;
}

#banner button:hover{
  background: #088178;
  color: #fff;
}

/* deal 2 banner*/

#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url(../img/deal/mua1tang1.jpg);
  background-size: cover;
  min-width: 620px;
  height: 50vh;
  background-position: center;
  padding: 30px;
  border-radius: 15px 0;
  margin-top: 20px;
}

#sm-banner .banner-box2{
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url(../img/deal/sachchuaramat.jpg);
}

#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

#sm-banner span{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
  background: #088178;
  border: 1px solid #088178;
  color: #ff0000;
}

/* deal 3 banner */

#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px
}

#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url(../img/deal/sachtaiban.jpg);
  background-size: cover;
  min-width: 30%;
  height: 30vh;
  background-position: center;
  padding: 20px;
  border-radius: 15px 0;
  margin-bottom: 20px;
}

#banner3 h2{
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

#banner3 h3{
  color: #ff0000;
}

#banner3 .banner-box2{
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url(../img/deal/banthaomoi.jpg);
}

#banner3 .banner-box3{
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url(../img/deal/chualanh.jpg);
}

/* Email */

#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/banner/bannerEmail/email.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
}

#newsletter h4{
  font-size: 25px;
  font-weight: bold;
  color: #ffff;
}

#newsletter p{
  font-size: 18px;
  font-weight: bold;
  color: #d1e4ff;
}

#newsletter p span{
  color: #e5ff00;
}

#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter input{
  height: 3.2rem;
  padding: 0 1rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Footer */

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 20px;

}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;
}

footer .install .row img{
  border-radius: 6px
}

footer .row-pay{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.col .icon img{
  width: 20px;
  padding-right: 4px;
  cursor: pointer;
}

.col .row2{
  width: 120px;
  margin: 10px 0 15px 0;
}

.col .row2:hover{
  cursor: pointer;
}

.col .row4{
  height: 22px;

}

.col .row4:hover{
  cursor: pointer;
}

footer .copyright{
  width: 100%;
  text-align: center;
}











